/* RESETS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-weight: lighter;
    color: white;
}

img {
    max-width: 100%;
}

body {
    background-color: black;
}

/* GLOBAL CLASSES */
.d-flex {
    display: flex;
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}

.center {
    justify-content: center;
    text-align: center;
    margin: auto;
}

.hidden {
    visibility: hidden;
}


/* CUSTOM STYLES */
#title {
    padding: 2% 0px 5% 0px; 
}

input {
    color: black;
    padding: 1% 2%;
    border-radius: 10px 0px 0px 10px;
    min-width: 25%;
}

#searchBtn {
    background-color: rgb(255, 0, 119);
    padding: 1% 2%;
    border-radius: 0px 10px 10px 0px;
}

.place-wrapper {
    padding: 10px;
    font-size: large;
}

.forecast-wrapper div {
    margin: 2% 0;
    padding: 4px 10px;
    border: 1px solid rgba(175, 173, 173, 0.702);
    border-radius: 8px;
    min-width: 18%;
}

.historyBtn {
    background-color: black;
    min-width: 50px;
    border: none;
    border-radius: 20px;
    padding: 3px 2%;
    transition: .222s;
}

.historyBtn:hover {
    background-color: yellowgreen;
    padding: 4px 2.5%;
}
